// to avoid any errors or undefined behavior please keep the format of everything here as it is
//although the system will report any spelling, indentation or format errors
//for colors you can only pass either the color name (eg: red, white) or the rgb format which follows the format(eg: #(17,64,86))
//passing a wrong format might crash you editor, if not sure of what you are doing please keep it default.


// #display is used to change colors of almost everything....make your workplace colourful

#display{

//where the current file being worked on is displayed at the top

    .title{
       bg: BLACk
       fg: whITE
       bg_voom: #(167,248,126,54)
       fg_voom: magenta
     }

//where the numbers are are displayed

    .side{
       bg: white    //this is another motherfucking comment
       //yeah it is
       fg: black
    }

//the main window for editing where the file contents are displayed
    .main{
        bg: black
        fg: white //please keep it default(white)
    }

// where the status of the program are displayed eg: current mode,cursor position

    .status{
       bg: black
       fg: white
       bg-status: green
       fg-status: black
   }

// line where you write your commens
   .command{
       bg: black
       fg: white
       bg-cmd: red
       fg-cmd: yellow
    }
}

//directives for the global variables;
#global{
	.display_info{
		//display_encoding: true
		display_time: true
		display_lang_server: true
		display_tabspace: true
		display_line_numbers: true
		display_cursor_position: true
	}
	
	.settings{
		tab_width: 4  //must be an even number 2,4,8
		indent_usingspace: true
		highlight_current_line: true
		text_autowrap: true
		enable_spellcheck: true  //used only in plain text files
		enable_autocorrrect: false //used only in plain text files
		enable_mouse: false   //feature not yet implemented
	}
}
